/node_modules
/html5_games/node_modules/**
/html5_games/sources/*/nbproject/private/
/html5_games/sources/*/*.html
__MACOSX
.DS_STORE
*/.DS_STORE
Thumbs.db
/html5_games/flash_cjs/games/leapFrog/nbproject/private/
/html5_games/flash_cjs/games/pokerPairs/nbproject/private/
/html5_games/build/
/html5_games/npm.out
/html5_games/build.out
/html5_games/sources/*/min/