
#winPlay .msgballoon {
    position: absolute;
    top: 210px;
    margin: 0;
    padding: 10px;
    width: 410px;
    margin-left: 20px;
}
.fs#lgzHud #winPlay .msgballoon {
    top: 65vh;
    width: 75vh;
    left: 5vh;
}
#winPlay button {
    position: absolute;
    top: 30px;
    right: 30px;
}
.fs#lgzHud #winPlay button {
    top: 10vh;
}
#winWon .msgballoon {
    position: absolute;
    margin: 0;
    padding: 20px;
    right: 20px;
    top: 110px;
    width: 240px;
}
#winWon #lgzBtnPlayAgain {
    position: absolute;
    top: 330px;
    right: 60px;
    width: 200px;
    /* min-height: 5%; */
}
