/*
moved to lib/lgz/win.css
*/
 #winPlay p {
	position: absolute;
	top: 60%;
	left: 5%;
	width: 80%;
        padding: 20px;
        
}
#winPlay button {
	position: absolute;
	bottom: 10%;
	left: 40%;
        
}
#winWon .msgbox {
    background: none;
    border: none;
}
#winWon .msgbox p {
    border: none;
    position: absolute;
    top: 35%;
    left: 56%;
    width: 40%;
}
#winWon #lgzBtnPlayAgain {
    position: absolute;
    top: 78%;
    left: 55%;
    width: 29%;
    min-height: 5%;
    
}
